# Surfline API
SURFLINE_API_URL=https://services.surfline.com/kbyg/spots/forecasts/...
SURFLINE_SPOT_ID=5842041f4e65fad6a7708d95

# AWS
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=your-s3-bucket

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=surf_db
POSTGRES_USER=surf_user
POSTGRES_PASSWORD=surf_password

# App
OUTPUT_DIR=./data

# Airflow
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
